
@{
    ViewData["Title"] = "LOC_CountryAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LOC_CountryModel

<div class="row">
    <div class="col-md-12">
        <h3>@TempData["CountryInsertMsg"]</h3>
        <form method="post" asp-controller="LOC_Country" asp-action="Save">
            @Html.HiddenFor(x=>x.CountryID)
            <div class="form-group">
                <label>Country NAme</label>
                <input type="text" class="form-control" placeholder="Enter Country Name" asp-for="CountryName"/>
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Country Code</label>
                <input type="number" class="form-control" placeholder="Enter Country Code" asp-for="CountryCode" />
            </div>
            <hr/>
            <input type="submit" class="btn btn-outline-primary"/> 
            <a asp-controller="LOC_Country" asp-action="Back">
                <button type="button" class="btn btn-success">Cancel</button>
            </a>
            
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}